input#cb1-edit {
    border: 1px solid #ff0000;
}

.saudacao {
    background-color: rgb(10, 121, 21);
    margin-top: 10px;
}

.saudacaoNova {
    background-color: rgba(4, 18, 98, 0.2);
    margin-top: 10px;
}

.saudacaoNova:hover {
    background-color: rgb(4, 18, 98);
    margin-top: 10px;
}